@model CCG_DB.Models.Ghoul
@{
    ViewData["Title"] = @Model.Name+" details";
}

<h1>@Model.Name</h1>
<label>Photo:</label>
<br />
<img src="@Model.ImageUrl" style="width:10%; height:12%;" />
<br />
<label>Name:    </label>
<label>@Model.Name</label>
<br />
<label>Rank:    </label>
<label>@Model.Rank</label>
<br />
<label>Description:  </label>
<br />
<label>@Model.Description</label>
<br />