@model IEnumerable<CCG_DB.Models.Ghoul>

@{
    ViewData["Title"] = "Ghoul";
}
<h1>@ViewData["Title"] <button class="addbtn"><a class="nav-link text-dark" asp-controller="Ghoul" asp-action="Add">Add</a></button><br /></h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12" style="background-color:dimgrey">
                        <div class="card-header text-black" >
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="float-right" asp-action="Info" asp-controller="Ghoul" asp-route-id="@item.Id"><img src="~/info-icon.png" /></a>
                                    <a class="float-right" asp-action="Edit" asp-controller="Ghoul" asp-route-id="@item.Id"><img src="~/edit-icon.png" /></a>
                                    <a class="float-right" asp-action="Delete" asp-controller="Ghoul" asp-route-id="@item.Id"><img src="~/delete-icon.png" /></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color:grey">
                        <img src="@item.ImageUrl" width=100% alt="@item.Name">
                    </div>
                    <div class="col-md-6" style="background-color:grey">
                        <div class="card-body">
                            <p class="card-text"><b>Name: </b>@item.Name</p>
                            <p class="card-text"><b>Rank: </b>@item.Rank</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<a class="top" href="#top"><img src="~/top-icon.png"/></a>