@model IEnumerable<CCG_DB.Models.Ghoul>

@{
    ViewData["Title"] = "Ghoul";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr><th>Photo</th><th>Name</th><th>Rank</th><th>Description</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ImageUrl" style="border-radius:20px; width:40px; height:40px"/></td>
            <td>@item.Name</td>
            <td>@item.Rank</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Info" asp-controller="Ghoul" asp-route-id="@item.Id"><img src="~/info-icon.png" /></a>
            </td>   
            <td>
                <a asp-action="Edit" asp-controller="Ghoul" asp-route-id="@item.Id"><img src="~/edit-icon.png"/></a>
            </td>
            <td>
                 <form asp-controller="Ghoul" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                     <input class="delete" type="submit" value=""/>
                 </form>
            </td>
        </tr>
    }
</table>


<button><a class="nav-link text-dark" asp-area="" asp-controller="Ghoul" asp-action="Add">Add Ghoul</a></button>